body {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
}
.logo {
    font-style: italic;
    font-size: larger;
    font-size: 24px;
    color: #0066cc; 
}
